body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #7a5c5c;
    color: #e21717;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news-item {
    background-color: #fff;
    padding: 15px;
    border: 40px;
    width: 33%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    justify-content: right;
    background-color: #7a5c5c;
}
nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

@media screen and (max-width: 620px){
    html{
        font-size: 10px;
    }
    .news-item{
        width: 100%;
    }
    .news{
        flex-direction: column;
        gap: 60px;
    }
    nav{
        justify-content: center;
    }
}