body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #005f73;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #0a9396;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

article {
    flex: 0 1 65%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside {
    flex: 0 1 30%;
    background-color: #94d2bd;
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

footer {
    background-color: #005f73;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.lista {
    flex-direction: column;
}